# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Turborepo
.turbo/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Local / editor
*.local
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
